In [119]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (0.2.44)
Requirement already satisfied: pandas>=1.3.0 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (1.5.2)
Requirement already satisfied: numpy>=1.16.5 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.31 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (2.4.5)
Requirement already satisfied: peewee>=3.16.2 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: six>=1.9 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from requests>=2.31->yfinance) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mgprivate/.conda/envs/collegiumDaVinci/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2022.9.24)

In [120]:
#Download data from Yahoo Finance

import yfinance as yf

# Pobranie danych dla indeksu DAX
dax = yf.Ticker("^GDAXI")

# Pobranie danych historycznych, np. od 1 stycznia 2020 roku
dane_dax = dax.history(start="2020-01-01", end="2024-10-12")

dane_dax.reset_index(inplace=True)
dane_dax = dane_dax[['Date', 'Open']]

# Wyświetlenie danych
print(dane_dax)

                          Date          Open
0    2020-01-02 00:00:00+01:00  13233.709961
1    2020-01-03 00:00:00+01:00  13266.389648
2    2020-01-06 00:00:00+01:00  13085.490234
3    2020-01-07 00:00:00+01:00  13199.589844
4    2020-01-08 00:00:00+01:00  13140.490234
...                        ...           ...
1217 2024-10-07 00:00:00+02:00  19150.269531
1218 2024-10-08 00:00:00+02:00  18937.699219
1219 2024-10-09 00:00:00+02:00  19065.179688
1220 2024-10-10 00:00:00+02:00  19242.849609
1221 2024-10-11 00:00:00+02:00  19206.310547

[1222 rows x 2 columns]

In [121]:
# Pobranie danych dla Bitcoina (BTC-USD)
bitcoin = yf.Ticker("BTC-USD")

# Pobranie danych historycznych, np. od 1 stycznia 2020 roku
dane_bitcoin = bitcoin.history(start="2020-01-01", end="2024-10-12")

# Resetowanie indeksu, aby kolumna 'Date' była dostępna
dane_bitcoin.reset_index(inplace=True)
dane_bitcoin = dane_bitcoin[['Date', 'Open']]

# Wyświetlenie danych
print(dane_bitcoin)

                          Date          Open
0    2020-01-01 00:00:00+00:00   7194.892090
1    2020-01-02 00:00:00+00:00   7202.551270
2    2020-01-03 00:00:00+00:00   6984.428711
3    2020-01-04 00:00:00+00:00   7345.375488
4    2020-01-05 00:00:00+00:00   7410.451660
...                        ...           ...
1740 2024-10-06 00:00:00+00:00  62084.988281
1741 2024-10-07 00:00:00+00:00  62819.109375
1742 2024-10-08 00:00:00+00:00  62221.644531
1743 2024-10-09 00:00:00+00:00  62131.726562
1744 2024-10-10 00:00:00+00:00  60581.929688

[1745 rows x 2 columns]

In [122]:
# Pobranie danych dla Złota (Gold Futures - GC=F)
zloto = yf.Ticker("GC=F")

# Pobranie danych historycznych, np. od 1 stycznia 2020 roku
dane_zloto = zloto.history(start="2020-01-01", end="2024-10-12")

dane_zloto.reset_index(inplace=True)
dane_zloto = dane_zloto[['Date', 'Open']]

# Wyświetlenie danych
print(dane_zloto)

                          Date         Open
0    2020-01-02 00:00:00-05:00  1518.099976
1    2020-01-03 00:00:00-05:00  1530.099976
2    2020-01-06 00:00:00-05:00  1580.000000
3    2020-01-07 00:00:00-05:00  1558.300049
4    2020-01-08 00:00:00-05:00  1579.699951
...                        ...          ...
1198 2024-10-07 00:00:00-04:00  2648.699951
1199 2024-10-08 00:00:00-04:00  2639.000000
1200 2024-10-09 00:00:00-04:00  2603.000000
1201 2024-10-10 00:00:00-04:00  2602.500000
1202 2024-10-11 00:00:00-04:00  2638.300049

[1203 rows x 2 columns]

In [123]:
#Funkcja która bierze wartość z pierwszego dnia kadego miesiąca i nadpisuje dataframe
def first_day_of_month(data):
    data['Date'] = pd.to_datetime(data['Date'])
    data = data.set_index('Date')
    data = data.resample('MS').first()
    data.reset_index(inplace=True)
    return data

first_day_of_month(dane_dax)
first_day_of_month(dane_bitcoin)
first_day_of_month(dane_zloto)

                        Date         Open
0  2020-01-01 00:00:00-05:00  1518.099976
1  2020-02-01 00:00:00-05:00  1592.900024
2  2020-03-01 00:00:00-05:00  1583.900024
3  2020-04-01 00:00:00-04:00  1570.000000
4  2020-05-01 00:00:00-04:00  1686.599976
5  2020-06-01 00:00:00-04:00  1740.400024
6  2020-07-01 00:00:00-04:00  1793.599976
7  2020-08-01 00:00:00-04:00  1984.300049
8  2020-09-01 00:00:00-04:00  1961.699951
9  2020-10-01 00:00:00-04:00  1884.099976
10 2020-11-01 00:00:00-04:00  1872.900024
11 2020-12-01 00:00:00-05:00  1775.000000
12 2021-01-01 00:00:00-05:00  1912.199951
13 2021-02-01 00:00:00-05:00  1866.599976
14 2021-03-01 00:00:00-05:00  1737.099976
15 2021-04-01 00:00:00-04:00  1706.800049
16 2021-05-01 00:00:00-04:00  1788.500000
17 2021-06-01 00:00:00-04:00  1905.099976
18 2021-07-01 00:00:00-04:00  1775.699951
19 2021-08-01 00:00:00-04:00  1812.400024
20 2021-09-01 00:00:00-04:00  1813.500000
21 2021-10-01 00:00:00-04:00  1754.300049
22 2021-11-01 00:00:00-04:00  1787.500000
23 2021-12-01 00:00:00-05:00  1774.800049
24 2022-01-01 00:00:00-05:00  1830.099976
25 2022-02-01 00:00:00-05:00  1797.199951
26 2022-03-01 00:00:00-05:00  1908.300049
27 2022-04-01 00:00:00-04:00  1935.000000
28 2022-05-01 00:00:00-04:00  1896.699951
29 2022-06-01 00:00:00-04:00  1831.000000
30 2022-07-01 00:00:00-04:00  1795.500000
31 2022-08-01 00:00:00-04:00  1763.900024
32 2022-09-01 00:00:00-04:00  1707.900024
33 2022-10-01 00:00:00-04:00  1667.199951
34 2022-11-01 00:00:00-04:00  1630.800049
35 2022-12-01 00:00:00-05:00  1768.699951
36 2023-01-01 00:00:00-05:00  1836.199951
37 2023-02-01 00:00:00-05:00  1927.199951
38 2023-03-01 00:00:00-05:00  1827.099976
39 2023-04-01 00:00:00-04:00  1968.099976
40 2023-05-01 00:00:00-04:00  1980.099976
41 2023-06-01 00:00:00-04:00  1963.199951
42 2023-07-01 00:00:00-04:00  1917.900024
43 2023-08-01 00:00:00-04:00  1964.900024
44 2023-09-01 00:00:00-04:00  1950.000000
45 2023-10-01 00:00:00-04:00  1844.099976
46 2023-11-01 00:00:00-04:00  1990.500000
47 2023-12-01 00:00:00-05:00  2038.300049
48 2024-01-01 00:00:00-05:00  2063.500000
49 2024-02-01 00:00:00-05:00  2040.199951
50 2024-03-01 00:00:00-05:00  2043.099976
51 2024-04-01 00:00:00-04:00  2235.699951
52 2024-05-01 00:00:00-04:00  2287.699951
53 2024-06-01 00:00:00-04:00  2322.600098
54 2024-07-01 00:00:00-04:00  2323.800049
55 2024-08-01 00:00:00-04:00  2446.699951
56 2024-09-01 00:00:00-04:00  2501.600098
57 2024-10-01 00:00:00-04:00  2631.399902

In [124]:
#load pkb from tsv
import pandas as pd

pkb = pd.read_csv('pkb.tsv', sep='\t')
pkb.head()

,"freq,unit,s_adj,na_item,geo\TIME_PERIOD",1975-Q1,1975-Q2,1975-Q3,1975-Q4,1976-Q1,1976-Q2,1976-Q3,1976-Q4,1977-Q1,...,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2
0,"Q,CLV05_MEUR,CA,B1G,AT",:,:,:,:,:,:,:,:,:,...,68143.6,70601.9,70339.8,72492.2,69349.7,69624.4,68899.5,71403.5,68539.0,69101.6
1,"Q,CLV05_MEUR,CA,B1G,CH",:,:,:,:,:,:,:,:,:,...,111466.2,114294.7,113886.9,116293.8,113336.8,114784.4,114241.0,117076.1,114368.6,116782.2
2,"Q,CLV05_MEUR,CA,B1G,CY",:,:,:,:,:,:,:,:,:,...,4630.9,4835.1,4995.2,4917.9,4762.6,4943.0,5126.4,5024.3,4929.6,5122.5
3,"Q,CLV05_MEUR,CA,B1G,CZ",:,:,:,:,:,:,:,:,:,...,33997.1,36566.5,36564.0,36839.6,34535.2,36807.9,36653.9,36786.0,34327.6,36836.2
4,"Q,CLV05_MEUR,CA,B1G,FI",:,:,:,:,:,:,:,:,:,...,39484.3,41803.7,41105.8,42708.4,39772.0,41851.1,40498.5,42097.9,39066.7,41220.2

In [128]:
#Funkcja zostawiajaca ostatnią wartość po przecinku z kolumny 0 dataframe
def last_value(data):
    desired = data.iloc[:, 0]
    desired = desired.str.split(',').str[-1]
    data.iloc[:, 0] = desired
    data.rename(columns={data.columns[0]: 'Country'}, inplace=True)

    return data

last_value(pkb)

pkb = pkb[pkb['Country'] == 'DE']

pkb

,Country,1975-Q1,1975-Q2,1975-Q3,1975-Q4,1976-Q1,1976-Q2,1976-Q3,1976-Q4,1977-Q1,...,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2
194,DE,:,:,:,:,:,:,:,:,:,...,656139.6 p,644639.3 p,660739.8 p,664283.1 p,662231.7 p,645882.6 p,656636.9 p,669442.7 p,660055.9 p,650793.5 p
235,DE,:,:,:,:,:,:,:,:,:,...,725180.6 p,713523.1 p,729388.3 p,731388.7 p,729250.4 p,710350.0 p,724008.0 p,728215.7 p,723594.1 p,712833.3 p
300,DE,:,:,:,:,:,:,:,:,:,...,68769.6 p,68573.2 p,68492.0 p,67063.1 p,66893.8 p,64435.5 p,67171.4 p,59072.1 p,63501.0 p,61977.3 p
362,DE,:,:,:,:,:,:,:,:,:,...,539212.5 p,546264.0 p,553418.5 p,556764.1 p,536999.2 p,542352.2 p,550845.0 p,558823.0 p,542300.7 p,547344.9 p
403,DE,:,:,:,:,:,:,:,:,:,...,101032.2 p,99820.7 p,97313.7 p,96344.5 p,97369.6 p,95328.7 p,96400.4 p,96763.9 p,100817.8 p,100212.1 p
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55038,DE,:,:,:,:,:,:,:,:,:,...,354266.0 p,363591.0 p,374997.0 p,382145.0 p,424682.0 p,427206.0 p,425003.0 p,423844.0 p,398280.0 p,405808.0 p
55082,DE,:,:,:,:,:,:,:,:,:,...,265164.0 p,266900.0 p,264526.0 p,272542.0 p,312535.0 p,308317.0 p,298819.0 p,297214.0 p,288963.0 p,286617.0 p
55124,DE,:,:,:,:,:,:,:,:,:,...,89102.0 p,96691.0 p,110471.0 p,109603.0 p,112147.0 p,118889.0 p,126184.0 p,126630.0 p,109317.0 p,119191.0 p
55164,DE,:,:,:,:,:,:,:,:,:,...,0.0 p,:,:,:,:,:,:,:,:,:
55189,DE,:,:,:,:,:,:,:,:,:,...,0.0 p,:,:,:,:,:,:,:,:,:

In [126]:
interest_rate = pd.read_csv('interest_rate.tsv', sep='\t')
print(interest_rate)

   freq,s_adj,p_adj,indic,geo\TIME_PERIOD   1980-01    1980-02    1980-03   \
0                  M,NSA,NAP,MF-3MI-RT,BG         :          :          :
1                  M,NSA,NAP,MF-3MI-RT,CZ         :          :          :
2                  M,NSA,NAP,MF-3MI-RT,DK  16.00000   18.00000   19.00000
3                  M,NSA,NAP,MF-3MI-RT,EA         :          :          :
4                  M,NSA,NAP,MF-3MI-RT,HR         :          :          :
5                  M,NSA,NAP,MF-3MI-RT,HU         :          :          :
6                  M,NSA,NAP,MF-3MI-RT,JP         :          :          :
7                  M,NSA,NAP,MF-3MI-RT,PL         :          :          :
8                  M,NSA,NAP,MF-3MI-RT,RO         :          :          :
9                  M,NSA,NAP,MF-3MI-RT,SE         :          :          :
10                 M,NSA,NAP,MF-3MI-RT,TR         :          :          :
11                 M,NSA,NAP,MF-3MI-RT,UK  17.88000   18.19000   18.56000
12                 M,NSA,NAP,MF-3MI-RT,US         :          :          :
13                 M,NSA,NAP,MF-DDI-RT,BG         :          :          :
14                 M,NSA,NAP,MF-DDI-RT,CZ         :          :          :
15                 M,NSA,NAP,MF-DDI-RT,DK         :          :          :
16                 M,NSA,NAP,MF-DDI-RT,EA         :          :          :
17                 M,NSA,NAP,MF-DDI-RT,HR         :          :          :
18                 M,NSA,NAP,MF-DDI-RT,HU         :          :          :
19                 M,NSA,NAP,MF-DDI-RT,JP         :          :          :
20                 M,NSA,NAP,MF-DDI-RT,PL         :          :          :
21                 M,NSA,NAP,MF-DDI-RT,RO         :          :          :
22                 M,NSA,NAP,MF-DDI-RT,SE         :          :          :
23                 M,NSA,NAP,MF-DDI-RT,TR         :          :          :
24                 M,NSA,NAP,MF-DDI-RT,UK         :          :          :
25                 M,NSA,NAP,MF-DDI-RT,US     13.82      14.13      17.19
26              M,NSA,NAP,MF-EY10YM-RT,EA         :          :          :
27               M,NSA,NAP,MF-EY1YM-RT,EA         :          :          :
28               M,NSA,NAP,MF-EY5YM-RT,EA         :          :          :
29               M,NSA,NAP,MF-LTGBY-RT,AT         :          :          :
30               M,NSA,NAP,MF-LTGBY-RT,BE  11.06000   11.42000   12.28000
31               M,NSA,NAP,MF-LTGBY-RT,BG         :          :          :
32               M,NSA,NAP,MF-LTGBY-RT,CY         :          :          :
33               M,NSA,NAP,MF-LTGBY-RT,CZ         :          :          :
34               M,NSA,NAP,MF-LTGBY-RT,DE   8.06000    8.39000    9.37000
35               M,NSA,NAP,MF-LTGBY-RT,DK         :          :          :
36               M,NSA,NAP,MF-LTGBY-RT,EA         :          :          :
37               M,NSA,NAP,MF-LTGBY-RT,EE        : z        : z        : z
38               M,NSA,NAP,MF-LTGBY-RT,EL         :          :          :
39               M,NSA,NAP,MF-LTGBY-RT,ES  15.50000   15.40000   15.72000
40        M,NSA,NAP,MF-LTGBY-RT,EU27_2020         :          :          :
41               M,NSA,NAP,MF-LTGBY-RT,FI         :          :          :
42               M,NSA,NAP,MF-LTGBY-RT,FR  11.68000   13.40000   13.47000
43               M,NSA,NAP,MF-LTGBY-RT,HR         :          :          :
44               M,NSA,NAP,MF-LTGBY-RT,HU         :          :          :
45               M,NSA,NAP,MF-LTGBY-RT,IE         :          :          :
46               M,NSA,NAP,MF-LTGBY-RT,IT  13.96000   14.09000   14.74000
47               M,NSA,NAP,MF-LTGBY-RT,LT         :          :          :
48               M,NSA,NAP,MF-LTGBY-RT,LU         :          :          :
49               M,NSA,NAP,MF-LTGBY-RT,LV         :          :          :
50               M,NSA,NAP,MF-LTGBY-RT,MT         :          :          :
51               M,NSA,NAP,MF-LTGBY-RT,NL         :          :          :
52               M,NSA,NAP,MF-LTGBY-RT,PL         :          :          :
53               M,NSA,NAP,MF-LTGBY-RT,PT         :          :          :
54               M,NSA,NAP,MF-LTGBY-RT,RO         :          :          :
55               M,NSA,NAP,MF-LTGBY-RT,SE         :          :          :
56               M,NSA,NAP,MF-LTGBY-RT,SI         :          :          :
57               M,NSA,NAP,MF-LTGBY-RT,SK         :          :          :
58               M,NSA,NAP,MF-LTGBY-RT,UK         :          :          :

     1980-04    1980-05    1980-06    1980-07    1980-08    1980-09   ...  \
0          :          :          :          :          :          :   ...
1          :          :          :          :          :          :   ...
2   19.00000   19.00000   19.00000   18.00000   18.00000   18.00000   ...
3          :          :          :          :          :          :   ...
4          :          :          :          :          :          :   ...
5          :          :          :          :          :          :   ...
6          :          :          :          :          :          :   ...
7          :          :          :          :          :          :   ...
8          :          :          :          :          :          :   ...
9          :          :          :          :          :          :   ...
10         :          :          :          :          :          :   ...
11  17.13000   17.06000   17.13000   15.88000   16.88000   15.94000   ...
12         :          :          :          :          :          :   ...
13         :          :          :          :          :          :   ...
14         :          :          :          :          :          :   ...
15         :          :          :          :          :          :   ...
16         :          :          :          :          :          :   ...
17         :          :          :          :          :          :   ...
18         :          :          :          :          :          :   ...
19         :          :          :          :          :          :   ...
20         :          :          :          :          :          :   ...
21         :          :          :          :          :          :   ...
22         :          :          :          :          :          :   ...
23         :          :          :          :          :          :   ...
24         :          :          :          :          :          :   ...
25     17.61      10.98       9.47       9.03       9.61      10.87   ...
26         :          :          :          :          :          :   ...
27         :          :          :          :          :          :   ...
28         :          :          :          :          :          :   ...
29         :          :          :          :          :          :   ...
30  12.11000   11.86000   11.95000   11.53000   11.72000   12.05000   ...
31         :          :          :          :          :          :   ...
32         :          :          :          :          :          :   ...
33         :          :          :          :          :          :   ...
34   9.36000    8.59000    8.18000    7.95000    7.84000    8.17000   ...
35         :          :          :          :          :          :   ...
36         :          :          :          :          :          :   ...
37        : z        : z        : z        : z        : z        : z  ...
38         :          :          :          :          :          :   ...
39  15.98000   15.90000   15.06000   15.78000   16.21000   16.33000   ...
40         :          :          :          :          :          :   ...
41         :          :          :          :          :          :   ...
42  13.02000   12.91000   12.93000   12.89000   12.84000   13.26000   ...
43         :          :          :          :          :          :   ...
44         :          :          :          :          :          :   ...
45         :          :          :          :          :          :   ...
46  14.92000   15.02000   15.18000   15.44000   15.60000   15.69000   ...
47         :          :          :          :          :          :   ...
48         :          :          :          :          :          :   ...
49         :          :          :          :          :          :   ...
50         :          :          :          :          :          :   ...
51         :          :          :          :          :          :   ...
52         :          :          :          :          :          :   ...
53         :          :          :          :          :          :   ...
54         :          :          :          :          :          :   ...
55         :          :          :          :          :          :   ...
56         :          :          :          :          :          :   ...
57         :          :          :          :          :          :   ...
58         :          :          :          :          :          :   ...

     2023-12    2024-01    2024-02    2024-03    2024-04    2024-05   \
0          :          :          :          :          :          :
1    6.97000    6.63000    6.20000    5.84000    5.55000    5.17000
2    3.90680    3.88950    3.87790    3.87880    3.82250    3.73430
3    3.93310    3.92530    3.92320    3.92240    3.88640    3.81370
4          :          :          :          :          :          :
5   10.57000    7.05000    8.40000    8.38000    7.96000    7.40000
6          :          :          :          :          :          :
7    5.85000    5.87000    5.86000    5.86000    5.86000    5.85000
8    6.10000    6.01000    5.94000    5.92000    5.90000    5.90000
9    4.03670    4.08320    4.07670    4.02820    3.95590    3.78740
10         :          :          :          :          :          :
11   5.33930    5.32250    5.32650    5.31890          :          :
12   5.62740    5.58110    5.57930    5.58170    5.57850    5.59380
13   3.79000    3.79000    3.80000    3.79000    3.78000    3.78000
14   6.95000    6.75000    6.39000    6.12000    5.75000    5.27000
15   3.71420    3.71180    3.70580    3.71150    3.71790    3.72070
16         :          :          :          :          :          :
17         :          :          :          :          :          :
18  11.22000   10.59000    9.81000    8.80000    8.11000    7.61000
19         :          :          :          :          :          :
20   5.54000    5.55000    5.60000    5.59000    5.65000    5.63000
21   5.89000    5.87000    5.86000    5.86000    5.86000    5.86000
22   3.99000    4.00080    3.99600    3.99240    3.99410    3.85350
23  39.41000   41.33000   45.48000   47.72000   52.49000   50.89000
24         :          :          :          :          :          :
25         :          :          :          :          :          :
26   2.19565    2.28903    2.43051    2.41479    2.53464    2.58761
27   3.10692    3.13767    3.24887    3.29807    3.28575    3.29823
28   2.07034    2.10257    2.30806    2.35529    2.44268    2.53390
29   2.68000    2.76000    2.89000    2.85000    2.99000    3.02000
30   2.70000    2.81000    2.95000    2.91000    3.01000    3.06000
31   4.01000    3.94000    3.93000    3.93000    3.93000    3.93000
32   3.23000    3.27000    3.32000    3.21000    3.30000    3.31000
33   3.97000    3.88000    3.76000    3.82000    4.20000    4.16000
34   2.10000    2.18000    2.33000    2.35000    2.45000    2.52000
35   2.36000    2.40000    2.48000    2.39000    2.48000    2.52000
36   2.77000    2.83000    2.95000    2.90000    3.02000    3.07000
37   3.21000    3.31000    3.49000    3.49000    3.64000    3.71000
38   3.28000    3.29000    3.45000    3.37000    3.49000    3.55000
39   3.12000    3.18000    3.27000    3.19000    3.27000    3.30000
40   3.11000    3.15000    3.26000    3.23000    3.37000    3.40000
41   2.68000    2.80000    2.88000    2.85000    2.94000    3.00000
42   2.65000    2.74000    2.85000    2.82000    2.97000    3.03000
43   3.39000    3.29000    3.30000    3.29000    3.34000    3.41000
44   6.17000    5.98000    6.22000    6.49000    6.97000    6.79000
45   2.46000    2.60000    2.78000    2.75000    2.89000    2.91000
46   3.82000    3.81000    3.87000    3.70000    3.86000    3.84000
47   2.88000    2.88000    2.88000    2.88000    2.88000    2.88000
48   2.53000    2.61000    2.82000    2.79000    2.90000    2.94000
49   3.49000    3.38000    3.41000    3.40000    3.47000    3.43000
50   3.31000    3.38000    3.48000    3.40000    3.47000    3.53000
51   2.42000    2.51000    2.64000    2.62000    2.72000    2.83000
52   5.21000    5.24000    5.36000    5.40000    5.67000    5.67000
53   2.86000    2.97000    3.06000    3.02000    3.14000    3.16000
54   6.19000    6.14000    6.06000    5.96000    6.25000    6.29000
55   2.21000    2.23000    2.43000    2.40000    2.51000    2.38000
56   3.26000    3.06000    3.22000    3.20000    3.22000    3.23000
57   3.31000    3.39000    3.51000    3.51000    3.68000    3.69000
58   3.76000    3.83000    4.06000    4.01000    4.19000    4.22000

     2024-06    2024-07    2024-08    2024-09
0          :          :          :          :
1    5.03000    4.61000    4.41000    4.30000
2    3.64740    3.58700    3.44620    3.33980
3    3.72450    3.68480    3.54760    3.43370
4          :          :          :          :
5    7.03000    6.79000    6.73000    6.96000
6          :          :          :          :
7    5.85000    5.86000    5.85000    5.85000
8    5.88000    5.70000    5.48000    5.40000
9    3.73110    3.67350    3.44080    3.23080
10         :          :          :          :
11         :          :          :          :
12   5.60190    5.54820    5.36440    5.09700
13   3.63000    3.53000    3.54000    3.43000
14   5.23000    4.75000    4.51000    4.46000
15   3.51100    3.47360    3.46640    3.34300
16         :          :          :          :
17         :          :          :          :
18   7.11000    6.92000    6.73000    6.70000
19         :          :          :          :
20   5.59000    5.66000    5.72000    5.61000
21   5.86000    5.67000    5.44000    5.37000
22   3.74650    3.74600    3.65560    3.49770
23  50.52000   50.05000   50.73000   50.23000
24         :          :          :          :
25         :          :          :          :
26   2.54869    2.50494    2.32570    2.29085
27   3.18482    3.08759    2.78797    2.60719
28   2.48375    2.40502    2.10502    2.01506
29   3.04000    2.98000    2.76000    2.69000
30   3.12000    3.06000    2.83000    2.79000
31   3.93000    3.93000    3.93000    3.93000
32   3.34000    3.24000    3.02000    2.91000
33   4.21000    3.95000    3.78000    3.77000
34   2.48000    2.46000    2.21000    2.17000
35   2.52000    2.45000    2.20000    2.11000
36   3.11000    3.06000    2.85000    2.78000
37   3.77000    3.80000    3.56000    3.44000
38   3.65000    3.50000    3.31000    3.19000
39   3.35000    3.28000    3.07000    2.99000
40   3.43000    3.38000    3.17000    3.12000
41   3.05000    3.00000    2.78000    2.73000
42   3.15000    3.14000    2.94000    2.90000
43   3.38000    3.37000    3.40000    3.33000
44   6.80000    6.61000    6.30000    6.22000
45   2.93000    2.86000    2.64000    2.55000
46   3.94000    3.83000    3.68000    3.57000
47   2.88000    2.88000    2.88000    2.88000
48   2.94000    2.90000    2.66000    2.59000
49   3.44000    3.39000    3.18000    3.12000
50   3.55000    3.50000    3.38000    3.24000
51   2.82000    2.77000    2.53000    2.47000
52   5.73000    5.65000    5.28000    5.31000
53   3.19000    3.10000    2.88000    2.78000
54   5.99000    6.50000    6.42000    6.42000
55   2.26000    2.12000    1.93000    1.93000
56   3.32000    3.21000    2.99000    2.94000
57   3.69000    3.59000    3.38000    3.36000
58   4.14000    4.12000    3.93000    3.89000

[59 rows x 538 columns]

In [127]:
unemployment_rate = pd.read_csv('unemployment_rate.tsv', sep='\t')
print(unemployment_rate)

    freq,unit,s_adj,indic,geo\TIME_PERIOD 1983-01  1983-02  1983-03  1983-04   \
0            M,PC_ACT,NSA,LM-UN-F-GT25,AT       :        :        :        :
1            M,PC_ACT,NSA,LM-UN-F-GT25,BA       :        :        :        :
2            M,PC_ACT,NSA,LM-UN-F-GT25,BE       :        :        :        :
3            M,PC_ACT,NSA,LM-UN-F-GT25,BG       :        :        :        :
4            M,PC_ACT,NSA,LM-UN-F-GT25,CH       :        :        :        :
..                                    ...      ...      ...      ...      ...
656            M,PC_ACT,SA,LM-UN-T-TOT,SI       :        :        :        :
657            M,PC_ACT,SA,LM-UN-T-TOT,SK       :        :        :        :
658            M,PC_ACT,SA,LM-UN-T-TOT,TR       :        :        :        :
659            M,PC_ACT,SA,LM-UN-T-TOT,UK    10.7     10.8     10.8     11.0
660            M,PC_ACT,SA,LM-UN-T-TOT,US    10.4     10.4     10.3     10.2

    1983-05  1983-06  1983-07  1983-08  1983-09   ... 2023-12  2024-01   \
0         :        :        :        :        :   ...     4.3      3.9
1         :        :        :        :        :   ...    16.0     16.3
2         :        :        :        :        :   ...     4.5      4.4
3         :        :        :        :        :   ...     4.1      4.6
4         :        :        :        :        :   ...     3.8      3.9
..       ...      ...      ...      ...      ...  ...      ...      ...
656       :        :        :        :        :   ...     3.4      3.3
657       :        :        :        :        :   ...     5.5      5.6
658       :        :        :        :        :   ...     8.8      9.0
659    10.9     11.0     10.9     10.9     10.9   ...       :        :
660    10.1     10.1      9.4      9.5      9.2   ...     3.7      3.7

    2024-02  2024-03  2024-04  2024-05  2024-06  2024-07  2024-08  2024-09
0       3.9      4.4      4.3      3.8      4.2      3.6      3.1        :
1      16.3     16.2     15.4     15.2     15.2     15.1        :        :
2       4.3      4.3      4.3      4.4      4.3      4.7      4.6        :
3       4.7      4.6      4.3      3.8      3.5      3.1      2.9        :
4       3.9      3.9      3.9      3.9      3.9        :        :        :
..       ...      ...      ...      ...      ...      ...      ...      ...
656     3.3      3.4      3.5      3.5      3.5      3.3      3.3        :
657     5.6      5.5      5.4      5.4      5.3      5.3      5.3        :
658     8.7      8.6      8.6      8.5      9.2      8.8        :        :
659       :        :        :        :        :        :        :        :
660     3.9      3.8      3.9      4.0      4.1      4.3      4.2        :

[661 rows x 502 columns]